body {
    font-family: "Nunito Sans", serif;
    max-width: 700px;
    margin: auto;
    padding: 25px;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0 4rem 4rem 4rem;
    min-width: 375px;
    background-color: dodgerblue;
    padding: 0.75rem;
    border-radius: 25px;
    border-color: slategrey;
    cursor: pointer;
}

.navbar a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

.navbar:hover {
    background-color: midnightblue;
}

.introduction p {
    margin-bottom: 0;
}

.introduction h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.introduction h3 {
    margin-top: 0;
}

section {
    margin: 50px 0 50px 0;
}

.contact-section-container p {
    margin: 0;
}


h1, h2, h3, h4 {
    font-family: "Rubik", serif;
    font-weight: 500;
}

.icons img {
    max-width: 30px;
    padding: 3px;
    height: auto;
}

/*!* Styling for the contact form *!
.contact-form-container {
    padding: 20px;
    box-shadow: 0 4px 8px slategrey;
    max-width: 700px;
}

.contact-form-container h2 {
    margin-top: 0;
    text-align: center;
}

.form-item {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea {
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid slategrey;
    border-radius: 4px;
    box-sizing: border-box;     !* rounds the corners *!
    width: 100%;                !* fill the entire container *!
}

textarea {
    font-family: "Nunito Sans", serif;
    resize: vertical;
    min-height: 3rem;
    overflow: hidden;
}

.error-message {
    color: indianred;
    font-size: 0.875rem;
    display: none;
}

.submit-button {
    background-color: dodgerblue;
    color: white;
    padding: 0.75rem;
    border-radius: 4px;
    border-color: slategrey;
    cursor: pointer;
}

.submit-button:hover {
    background-color: midnightblue;
}*/